@import "tailwindcss";

:root {
  --background: #fff8f0;
  --foreground: #2d1b0f;
  --sudoku-primary: #8cedcc;
  --sudoku-secondary: #e5fdec;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
